[Desktop Entry]
Type=Application
Name=pprompt
Comment=Prompt to change default password if ssh enabled
NoDisplay=false
Exec=sudo -E bash -c 'sleep 5; python /home/pi/drcm/DRCM.py &> /tmp/drcm.log'
NotShowIn=GNOME;KDE;XFCE;
